<header>
	<nav class="navbar navbar-inverse noradius nav-index">
		<div class="container">
			<div>
				<em class="navbar-brand-index welcome hidden-xs">
					<span id="name"></span>
					<a href="#" class="companyName"></a>
				</em>
				<ul class="nav navbar-nav menu-function">
					<!-- <li class="dropdown-nav"><a href="/message">您有0条未读消息</a></li> -->
					<li class="dropdown-nav">
						<a href="#" class="logout">安全退出</a>
					</li>

				</ul>
			</div>

		</div>
	</nav>
</header>
<div class="header">
	<div class="container container-nopd">
		<a href="/home.html" class="system-logo hidden-xs"><img src="https://zxcioc.com/static/images/logo.png" width="138px" height="45px;"></a>
		<ul class="sys-nav">
			<li class="active">
				<a href="#">　首页　</a><em class="hidden-xs"></em></li>
			<li class="">
				<a href="report.html">筛查报告</a>
			</li>
			<li class="">
				<a href="#">部门同事</a>
			</li>
		</ul>
		<ul class="sys-nav sys-nav-mg pull-right">
			<li class="pull-right hidden">
				<a href="/work" class="btn btn-style btn-default btn-xs hidden-xs pull-left btn-orange">　快入职　</a>
			</li>
			<li class="pull-right hidden">
				<a href="/work" class="btn btn-style btn-xs hidden-xs pull-left btn-orange">快入职</a>
			</li>
		</ul>
	</div>
</div>