<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="shortcut icon" href="http://avatar.zxcioc.com/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/global.js"></script>

	</head>

	<body>

		<div class="head">

			<div class="head-bg">
				
				<img src="img/wenzi_00.png" />

			</div>

			<div class="nav">

				<a href="index.html"><img src="img/logo.png" width="120px"></a>

				<ul>
					<li>
						<a href="index.html">　首页</a>
					</li>
					<li>
						<a href="about.html">关于我们</a>
					</li>
					<li class="">
						<a href="project.html">产品介绍</a>
					</li>
					<li>
						<a class="btn-login" href="login.html">登录</a>
					</li>
					<li>
						<a class="btn-zhuce" href="zhuce.html">注册</a>
					</li>
				</ul>

				<div class="clear"></div>

			</div>

			<video id="vid" src="video/ddd.Ogg" width="100%" height="auto" autoplay="autoplay" muted loop="loop"></video>
		</div>
		<div class="container about">

			<div class="about-box">
				<a>快速入职，轻松管理</a>
				<p>扫码入职，一键生成职员名册，轻松应对职场压力</p>

			</div>
			<div class="about-box">
				<a>职场决策，规避风险</a>
				<p>数据决策，权威数据核查，规避岗位责任</p>

			</div>
			<div class="about-box">
				<a>降低成本，规范标准</a>
				<p>降低招聘成本，减少重复做工，规范招聘标准</p>

			</div>

		</div>

		<div class="footter">
			<div class="col-md-6 hidden-xs hidden-sm">
				<div class="col-md-4">
					<ul class="foot-navs">
						<li class="tit">平台简介</li>

						<li>
							<a href="index.html">平台主页</a>
						</li>
						<li>
							<a href="terms.html" target="_blank">免责声明</a>
						</li>

					</ul>
				</div>
				<div class="col-md-4">
					<ul class="foot-navs">
						<li class="tit">服务项目</li>
						<li>
							<a href="project.html">产品介绍</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="foot-navs">
						<li class="tit">用户帮助</li>
						<li href="">
							<a>新手指南</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<div class="col-md-6">
					<ul class="foot-navs foot-nav-last">
						<li class="tit">联系方式</li>
						<li>
							<a>400-8869-004</a>
						</li>
						<li>
							<a>Again@zxcioc.com</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="code"></div>
				</div>

			</div>
		</div>

		<div class="copyright">Copyright © 2016 深圳忠信信息技术有限公司　<a target="_blank" href="http://www.miibeian.gov.cn/">粤ICP备16003933号</a>
			<a target="_blank" href="http://icp.chinaz.com/info?q=zxcioc.com"><img src="https://zxcioc.com/static/images/index/gxb.png" width="18px"></a>
		</div>

	</body>

</html>