<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="shortcut icon" href="http://avatar.zxcioc.com/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
		<script type="text/javascript" src="js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap.min.js"/></script>
		<script src="js/lib/jquery-migrate-1.2.1.min.js"></script>
		<script src="js/lib/jqprint-0.3.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap-dialog.js"></script>
		<script type="text/javascript" src="js/lib/underscore.min.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="js/write/head.js"></script>
		<script src="js/write/photo.js"></script>
	</head>

	<body>

		<div class="cont">
			<div class="main-body">
				<header>
					<nav class="navbar navbar-inverse noradius nav-index">
						<div class="container">
							<div>
								<em class="navbar-brand-index welcome hidden-xs">
					<span id="name"></span>
					<a href="/company.html"><span class="companyName"></span></a> 
				</em>
								<em class="navbar-brand-index welcome hidden-md hidden-sm hidden-lg">您好，尹岳峰</em>
								<ul class="nav navbar-nav menu-function">
									<li class="dropdown-nav">
										<a href="#" class="logout">安全退出</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</header>
				<div class="header">
					<div class="container container-nopd">
						<a href="/home.html" class="system-logo"><img src="img/logo-home.jpg" width="116px"></a>
						<ul class="sys-nav">
							<li class="">
								<a href="/home.html">扫码入职</a><em class="hidden-xs"></em></li>
							<li class="">
								<a href="/report.html">筛查报告</a>
							</li>
							<li class="">
								<a href="/team.html">职员管理</a>
							</li>
						</ul>
						<ul class="sys-nav sys-nav-mg pull-right">
							<li class="pull-right hidden">
								<a href="/work" class="btn btn-style btn-default btn-xs hidden-xs pull-left btn-orange">　快入职　</a>
							</li>
							<li class="pull-right hidden">
								<a href="/work" class="btn btn-style btn-xs hidden-xs pull-left btn-orange">快入职</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="container box">
					<div class="col-md-9 col-md-offset-1">
						<div class="panel panel-default panel-report">

							<div class="panel-heading"><a href="javascript:history.go(-1);">报告列表</a> > 职员照片</div>
							<div class="container-fluid-report" id="div-print">
								<div class="panel-body report report-div">
									<div class="row" style="margin:80px 0">
										<div class="col-md-12 text-center" id="photoImg"><img src="" width="120px"></div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="col-md-1">
						<div class="panel panel-default panel-report">

							<div class="panel-heading text-center">操作</div>
							<div class="row panel-body text-center report-do">

								<a class="text-green" onclick="print()" href="javascript:;">打印<br />报告</a>
							</div>

						</div>

					</div>

				</div>

			</div>
			<div class="foot-nav">
				<footer>
					<div class="container "><em class="pull-left">注册单位统计：1022</em><em class="pull-right ">忠信信息技术有限公司© <a target="_blank" href="http://icp.chinaz.com/info?q=zxcioc.com">粤ICP备16003933号-2</a></em></div>
				</footer>
			</div>
		</div>

		<script language="javascript">
			function print() {
				$("#div-print").jqprint();
			}
		</script>

	</body>

</html>