<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="shortcut icon" href="http://avatar.zxcioc.com/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/global.js"></script>
	</head>

	<body>

		<div class="nav">

			<a><img src="img/logo.png"></a>

			<ul>
					<li>
						<a href="index.html">　首页</a>
					</li>
					<li>
						<a href="about.html">关于我们</a>
					</li>
					<li class="">
						<a href="project.html">产品介绍</a>
					</li>
					<li>
						<a class="btn-login" href="login.html">登录</a>
					</li>
					<li>
						<a class="btn-zhuce" href="zhuce.html">注册</a>
					</li>
				</ul>

			<div class="clear"></div>

		</div>

		<div class="pro-banner"></div>

		<div class="">
			<div class="pro-super"><br /><br />
				<div class="center-title">
					<h2><span>格局</span>引领未来</h2>
					<p>职路服务市场各大行业，矢志成为大数据应用先驱</p>
				</div>
				<div class="container pro-cont">
					<div class="row">
						<div class="col-md-5ths" data-scroll-reveal="enter top and move 50px over 2s" data-scroll-reveal-id="9" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
							<div class="pro-supbox pro-supbox-1"><span></span>
								<p>政府机构</p>
							</div>
						</div>
						<div class="col-md-5ths" data-scroll-reveal="enter top and move 50px over 1.5s" data-scroll-reveal-id="10" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
							<div class="pro-supbox pro-supbox-2"><span></span>
								<p>金融行业</p>
							</div>
						</div>
						<div class="col-md-5ths" data-scroll-reveal="enter top and move 50px over 1s" data-scroll-reveal-id="11" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
							<div class="pro-supbox pro-supbox-3"><span></span>
								<p>能源化工</p>
							</div>
						</div>
						<div class="col-md-5ths" data-scroll-reveal="enter top and move 50px over 0.5s" data-scroll-reveal-id="12" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
							<div class="pro-supbox pro-supbox-4"><span></span>
								<p>教育行业</p>
							</div>
						</div>
						<div class="col-md-5ths">
							<div class="pro-supbox pro-supbox-5"><span></span>
								<p>制造行业</p>
							</div>
						</div>
						<div class="col-md-5ths" data-scroll-reveal="enter top and move 50px over 2s" data-scroll-reveal-id="13" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
							<div class="pro-supbox pro-supbox-6"><span></span>
								<p>广告媒体</p>
							</div>
						</div>
						<div class="col-md-5ths" data-scroll-reveal="enter top and move 50px over 1.5s" data-scroll-reveal-id="14" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
							<div class="pro-supbox pro-supbox-7"><span></span>
								<p>医疗健康</p>
							</div>
						</div>
						<div class="col-md-5ths" data-scroll-reveal="enter top and move 50px over 1s" data-scroll-reveal-id="15" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
							<div class="pro-supbox pro-supbox-8"><span></span>
								<p>运输物流</p>
							</div>
						</div>
						<div class="col-md-5ths" data-scroll-reveal="enter top and move 50px over 0.5s" data-scroll-reveal-id="16" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
							<div class="pro-supbox pro-supbox-9"><span></span>
								<p>工程建筑</p>
							</div>
						</div>
						<div class="col-md-5ths">
							<div class="pro-supbox pro-supbox-10"><span></span>
								<p>科技行业</p>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="pro-choice text-center">
				<div class="center-title">
					<h2>合作<span>伙伴</span></h2>
					<p>国内知名企业的入驻，充分肯定了职路的作用</p>
				</div>
				<div class="container">
					<div class="col-md-8 col-md-offset-2" data-scroll-reveal="enter top and move 50px over 1.5s" data-scroll-reveal-id="17" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true"><img src="img/chinesemap.jpg" width="100%"></div>
				</div>
			</div>

		</div>
		<br /><br /><br /><br />
		<div class="footter">
			<div class="col-md-6 hidden-xs hidden-sm">
				<div class="col-md-4">
					<ul class="foot-navs">
						<li class="tit">平台简介</li>

						<li>
							<a href="http://protal.zxcioc.com/index.html" target="_blank">平台主页</a>
						</li>
						<li>
							<a href="/terms" target="_blank">免责声明</a>
						</li>

					</ul>
				</div>
				<div class="col-md-4">
					<ul class="foot-navs">
						<li class="tit">服务项目</li>
						<li>
							<a href="http://protal.zxcioc.com/product.html" target="_blank">产品介绍</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="foot-navs">
						<li class="tit">用户帮助</li>
						<li href="">
							<a>新手指南</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<div class="col-md-6">
					<ul class="foot-navs foot-nav-last">
						<li class="tit">联系方式</li>
						<li>
							<a>400-8869-004</a>
						</li>
						<li>
							<a>Again@zxcioc.com</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="code"></div>
				</div>

			</div>
		</div>

		<div class="copyright">Copyright © 2016 深圳忠信信息技术有限公司　<a target="_blank" href="http://www.miibeian.gov.cn/">粤ICP备16003933号</a>
			<a target="_blank" href="http://icp.chinaz.com/info?q=zxcioc.com"><img src="https://zxcioc.com/static/images/index/gxb.png" width="18px"></a>
		</div>

	</body>

</html>